<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dealerservicecenter.ktm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:screenOrientation="nosensor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".A00_MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/YOUR_ADMOB_APP_ID" />

        <activity
            android:name=".D01_Wallpaper"
            android:label="KTM WallPaper"
             android:screenOrientation="portrait"/>
        <activity
            android:name=".A02_KtmSpecification"
            android:label="KTM SpeciFication"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".B02_CityName"
            android:label="City Name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".B03_C03_DealerServicecenter_detail"
            android:label="Dealer Service Center"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".A00_FlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
    </application>

</manifest>